<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/learn_hibernate</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.username">root</property>
		<property name="connection.password">7seven</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!--
			事物隔离级别的配置：
				读未提交	1
				读已提交	2
				可重复读	4
				不可并发 	8
		 -->
		 <property name="connection.isolation">1</property>
		
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">false</property>		
		
		<!-- c3po连接池配置 -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">50000</property>
		<!-- 不操作的时候能够存活多长时间 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<!-- 设定的时间间隔去自动校验这些链接对象并销毁timeout的 -->
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<!-- 是否验证，检查连接 -->  
    	<property name="hibernate.c3p0.validate">false</property>  
		
		
		<!-- 二级缓存 -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
		<!--  -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		
		<!-- 查询条件缓存 -->
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<!-- 类的缓存 -->
		<class-cache usage="read-write" class="com.ll.learn.hibernate.i_cache.Employee"/>
		<class-cache usage="read-write" class="com.ll.learn.hibernate.i_cache.Department"/>

		<!-- 集合的缓存 -->
		<collection-cache usage="read-write" collection="com.ll.learn.hibernate.i_cache.Department.employees"/>
		
		<!-- <mapping resource="com/ll/learn/hibernate/a_xml/User.hbm.xml"/>
		<mapping class="com.ll.learn.hibernate.b_annotction.Role"/> -->
		<!-- <class-cache
			class="org.hibernate.test.legacy.Simple"
			region="Simple"
			usage="read-write"/> -->
	</session-factory>
</hibernate-configuration>